@import "common/var.scss";
@import "common/mixin.scss";

@include b(resize-box) {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .line,
  .angle {
    position: absolute;
    z-index: 999;
    margin: auto;
  }

  .line:hover,
  .angle:hover {
    background: $--color-primary;
  }

  .line-t {
    top: -($--border-thick);
    left: 0;
    right: 0;
    width: 100%;
    height: $--border-thick;
    background: $--color-light-gray;
    cursor: row-resize;
  }

  .line-l {
    top: 0;
    left: -($--border-thick);
    bottom: 0;
    width: $--border-thick;
    height: 100%;
    background: $--color-light-gray;
    cursor: col-resize;
  }

  .line-r {
    top: 0;
    right: -($--border-thick);
    bottom: 0;
    width: $--border-thick;
    height: 100%;
    background: $--color-light-gray;
    cursor: col-resize;
  }

  .line-b {
    left: 0;
    right: 0;
    bottom: -($--border-thick);
    width: 100%;
    height: $--border-thick;
    background: $--color-light-gray;
    cursor: row-resize;
  }

  .angle {
    width: $--border-thick;
    height: $--border-thick;
  }

  .angle-tl {
    top: -($--border-thick);
    left: -($--border-thick);
    background: $--color-light-gray;
    cursor: nwse-resize;
  }

  .angle-tr {
    top: -($--border-thick);
    right: -($--border-thick);
    background: $--color-light-gray;
    cursor: nesw-resize;
  }

  .angle-bl {
    bottom: -($--border-thick);
    left: -($--border-thick);
    background: $--color-light-gray;
    cursor: nesw-resize;
  }

  .angle-br {
    bottom: -($--border-thick);
    right: -($--border-thick);
    background: $--color-light-gray;
    cursor: nwse-resize;
  }
}